<a href="https://colab.research.google.com/github/pras-4795/AIMLColab/blob/master/Novartis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#median is performing better
#gradient boosting is better for unbalanced data

In [0]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import classification_report

In [2]:
df = pd.read_csv('/content/drive/My Drive/Novartis/Dataset/Train.csv')
df.describe()

                X_1           X_2  ...          X_15  MULTIPLE_OFFENSE
count  23856.000000  23856.000000  ...  23856.000000      23856.000000
mean       0.483778     24.791206  ...     33.464747          0.955231
std        1.439738     15.240231  ...      8.386834          0.206800
min        0.000000      0.000000  ...      0.000000          0.000000
25%        0.000000      7.000000  ...     34.000000          1.000000
50%        0.000000     24.000000  ...     34.000000          1.000000
75%        0.000000     36.000000  ...     34.000000          1.000000
max        7.000000     52.000000  ...     50.000000          1.000000

[8 rows x 16 columns]

In [3]:
df.isnull().sum()

INCIDENT_ID           0
DATE                  0
X_1                   0
X_2                   0
X_3                   0
X_4                   0
X_5                   0
X_6                   0
X_7                   0
X_8                   0
X_9                   0
X_10                  0
X_11                  0
X_12                182
X_13                  0
X_14                  0
X_15                  0
MULTIPLE_OFFENSE      0
dtype: int64

In [4]:
value =  df['X_12'].mean()
df['X_12'] = df['X_12'].replace(np.nan, value)
df.isnull().sum()

INCIDENT_ID         0
DATE                0
X_1                 0
X_2                 0
X_3                 0
X_4                 0
X_5                 0
X_6                 0
X_7                 0
X_8                 0
X_9                 0
X_10                0
X_11                0
X_12                0
X_13                0
X_14                0
X_15                0
MULTIPLE_OFFENSE    0
dtype: int64

In [0]:
X = df.loc[:,'X_1':'X_15']
Y = df.loc[:,'MULTIPLE_OFFENSE']

In [0]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.33, random_state=42)

In [39]:
from sklearn.ensemble import GradientBoostingClassifier
model = GradientBoostingClassifier(learning_rate=0.25, n_estimators=250, random_state=42)
model.fit(x_train, y_train)

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.25, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=250,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=42, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [40]:
p = model.predict(x_test)
print(classification_report(y_test,p))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00       374
           1       1.00      1.00      1.00      7499

    accuracy                           1.00      7873
   macro avg       1.00      1.00      1.00      7873
weighted avg       1.00      1.00      1.00      7873

In [10]:
df_test = pd.read_csv('/content/drive/My Drive/Novartis/Dataset/Test.csv')
df_test.isnull().sum()

INCIDENT_ID      0
DATE             0
X_1              0
X_2              0
X_3              0
X_4              0
X_5              0
X_6              0
X_7              0
X_8              0
X_9              0
X_10             0
X_11             0
X_12           127
X_13             0
X_14             0
X_15             0
dtype: int64

In [11]:
df_test['X_12'] = df_test['X_12'].replace(np.nan, value)
df_test.isnull().sum()

INCIDENT_ID    0
DATE           0
X_1            0
X_2            0
X_3            0
X_4            0
X_5            0
X_6            0
X_7            0
X_8            0
X_9            0
X_10           0
X_11           0
X_12           0
X_13           0
X_14           0
X_15           0
dtype: int64

In [0]:
testInput = df_test.loc[:,'X_1':'X_15']
out = model.predict(testInput)
df_test['MULTIPLE_OFFENSE'] = out
df_test.loc[:,['INCIDENT_ID', 'MULTIPLE_OFFENSE']].to_csv('submission.csv', index=False)