In [1]:
import pandas as pd 

%matplotlib inline

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import StandardScaler

In [2]:
test_df = pd.read_csv("test.csv")
train_df = pd.read_csv("train.csv")

In [3]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24169 entries, 0 to 24168
Data columns (total 26 columns):
Unnamed: 0                    24169 non-null int64
ID                            24169 non-null int64
LIMIT_BAL                     24169 non-null int64
SEX                           24169 non-null int64
EDUCATION                     24169 non-null int64
MARRIAGE                      24169 non-null int64
AGE                           24169 non-null int64
PAY_0                         24169 non-null int64
PAY_2                         24169 non-null int64
PAY_3                         24169 non-null int64
PAY_4                         24169 non-null int64
PAY_5                         24169 non-null int64
PAY_6                         24169 non-null int64
BILL_AMT1                     24169 non-null int64
BILL_AMT2                     24169 non-null int64
BILL_AMT3                     24169 non-null int64
BILL_AMT4                     24169 non-null int64
BILL_AMT5                     24169 non-null int64
BILL_AMT6                     24169 non-null int64
PAY_AMT1                      24169 non-null int64
PAY_AMT2                      24169 non-null int64
PAY_AMT3                      24169 non-null int64
PAY_AMT4                      24169 non-null int64
PAY_AMT5                      24169 non-null int64
PAY_AMT6                      24169 non-null int64
default payment next month    24169 non-null int64
dtypes: int64(26)
memory usage: 4.8 MB

In [4]:
train_df.describe()

,Unnamed: 0,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
count,24169.000000,24169.000000,24169.000000,24169.000000,24169.000000,24169.000000,24169.000000,24169.000000,24169.000000,24169.000000,...,24169.000000,24169.000000,24169.000000,24169.000000,2.416900e+04,24169.000000,24169.000000,24169.000000,24169.000000,24169.000000
mean,15031.693161,15032.693161,167391.024867,1.605817,1.853076,1.550871,35.469444,-0.018453,-0.135504,-0.164963,...,43153.864372,40156.224585,38738.109603,5681.134759,5.942295e+03,5213.239935,4801.607017,4803.390128,5252.875047,0.218420
std,8661.614261,8661.614261,129519.754764,0.488685,0.790629,0.520981,9.193634,1.123273,1.195428,1.195498,...,64197.409775,60531.338697,59314.750357,16895.052567,2.331366e+04,16984.502935,15798.979087,15282.699900,17668.019737,0.413183
min,0.000000,1.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-61372.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7555.000000,7556.000000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,...,2360.000000,1776.000000,1256.000000,1000.000000,8.200000e+02,392.000000,295.000000,265.000000,150.000000,0.000000
50%,15049.000000,15050.000000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,...,18981.000000,18043.000000,16921.000000,2100.000000,2.005000e+03,1804.000000,1500.000000,1500.000000,1500.000000,0.000000
75%,22555.000000,22556.000000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,...,54078.000000,50147.000000,49062.000000,5006.000000,5.000000e+03,4504.000000,4000.000000,4026.000000,4001.000000,0.000000
max,29999.000000,30000.000000,800000.000000,2.000000,6.000000,3.000000,75.000000,8.000000,8.000000,8.000000,...,706864.000000,823540.000000,699944.000000,873552.000000,1.684259e+06,889043.000000,621000.000000,426529.000000,528666.000000,1.000000

In [5]:
train_df.columns

Index(['Unnamed: 0', 'ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE',
       'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1',
       'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6',
       'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object')

In [6]:
total = train_df.isnull().sum()
percentage = (train_df.isnull().sum()/train_df.isnull().count()*100)
pd.concat([total, percentage], axis=1, keys=['Total', 'Percentage'])

                            Total  Percentage
Unnamed: 0                      0         0.0
ID                              0         0.0
LIMIT_BAL                       0         0.0
SEX                             0         0.0
EDUCATION                       0         0.0
MARRIAGE                        0         0.0
AGE                             0         0.0
PAY_0                           0         0.0
PAY_2                           0         0.0
PAY_3                           0         0.0
PAY_4                           0         0.0
PAY_5                           0         0.0
PAY_6                           0         0.0
BILL_AMT1                       0         0.0
BILL_AMT2                       0         0.0
BILL_AMT3                       0         0.0
BILL_AMT4                       0         0.0
BILL_AMT5                       0         0.0
BILL_AMT6                       0         0.0
PAY_AMT1                        0         0.0
PAY_AMT2                        0         0.0
PAY_AMT3                        0         0.0
PAY_AMT4                        0         0.0
PAY_AMT5                        0         0.0
PAY_AMT6                        0         0.0
default payment next month      0         0.0

there is no missing data

In [7]:
train_df = train_df.drop(['Unnamed: 0'], axis=1)
train_df = train_df.drop(['ID'], axis=1)

test_df = test_df.drop(['Unnamed: 0'], axis=1)
test_df = test_df.drop(['ID'], axis=1)

In [8]:
train_df = train_df.rename(columns={'default payment next month': 'default_pay', 'PAY_0': 'PAY_1'})

test_df = test_df.rename(columns={'default payment next month': 'default_pay', 'PAY_0': 'PAY_1'})

In [9]:
train_df.SEX.value_counts()

2    14642
1     9527
Name: SEX, dtype: int64

In [10]:
train_df.MARRIAGE.value_counts()

2    12863
1    11016
3      247
0       43
Name: MARRIAGE, dtype: int64

In [11]:
train_df.EDUCATION.value_counts()

2    11323
1     8524
3     3952
5      229
4       88
6       44
0        9
Name: EDUCATION, dtype: int64

Remove Unlabelled values 5,6,0 in education and replace them with 4

In [12]:
train_df.loc[(train_df.EDUCATION==5) | (train_df.EDUCATION==6) | (train_df.EDUCATION==0), 'EDUCATION'] = 4

test_df.loc[(test_df.EDUCATION==5) | (test_df.EDUCATION==6) | (test_df.EDUCATION==0), 'EDUCATION'] = 4

In [13]:
train_df.EDUCATION.value_counts()

2    11323
1     8524
3     3952
4      370
Name: EDUCATION, dtype: int64

Remove Unlabelled values 0 in Marriage and replace them with 3

In [14]:
train_df.loc[train_df.MARRIAGE==0, 'MARRIAGE'] = 3

test_df.loc[test_df.MARRIAGE==0, 'MARRIAGE'] = 3

In [15]:
train_df.MARRIAGE.value_counts()

2    12863
1    11016
3      290
Name: MARRIAGE, dtype: int64

In [16]:
train_df.PAY_1.value_counts()

 0    11874
-1     4632
 1     2948
-2     2203
 2     2131
 3      265
 4       61
 5       23
 8       15
 6       11
 7        6
Name: PAY_1, dtype: int64

In [17]:
train_df.PAY_2.value_counts()

 0    12669
-1     4931
 2     3142
-2     3019
 3      255
 4       84
 5       23
 1       20
 7       16
 6        9
 8        1
Name: PAY_2, dtype: int64

In [18]:
train_df.PAY_3.value_counts()

 0    12673
-1     4830
-2     3261
 2     3089
 3      192
 4       63
 7       21
 6       18
 5       17
 1        3
 8        2
Name: PAY_3, dtype: int64

In [19]:
train_df.PAY_4.value_counts()

 0    13272
-1     4603
-2     3473
 2     2549
 3      137
 4       50
 7       47
 5       29
 6        5
 8        2
 1        2
Name: PAY_4, dtype: int64

In [20]:
train_df.PAY_5.value_counts()

 0    13661
-1     4489
-2     3628
 2     2118
 3      135
 4       72
 7       47
 5       14
 6        4
 8        1
Name: PAY_5, dtype: int64

In [21]:
train_df.PAY_6.value_counts()

 0    13147
-1     4651
-2     3897
 2     2221
 3      149
 4       39
 7       38
 6       14
 5       11
 8        2
Name: PAY_6, dtype: int64

PAY_1 to PAY_6 all have -1, -2 which should be converted to 0

In [22]:
train_df.loc[(train_df.PAY_1==-1) | (train_df.PAY_1==-2), 'PAY_1'] = 0
train_df.loc[(train_df.PAY_2==-1) | (train_df.PAY_2==-2), 'PAY_2'] = 0
train_df.loc[(train_df.PAY_3==-1) | (train_df.PAY_3==-2), 'PAY_3'] = 0
train_df.loc[(train_df.PAY_4==-1) | (train_df.PAY_4==-2), 'PAY_4'] = 0
train_df.loc[(train_df.PAY_5==-1) | (train_df.PAY_5==-2), 'PAY_5'] = 0
train_df.loc[(train_df.PAY_6==-1) | (train_df.PAY_6==-2), 'PAY_6'] = 0

test_df.loc[(test_df.PAY_1==-1) | (test_df.PAY_1==-2), 'PAY_1'] = 0
test_df.loc[(test_df.PAY_2==-1) | (test_df.PAY_2==-2), 'PAY_2'] = 0
test_df.loc[(test_df.PAY_3==-1) | (test_df.PAY_3==-2), 'PAY_3'] = 0
test_df.loc[(test_df.PAY_4==-1) | (test_df.PAY_4==-2), 'PAY_4'] = 0
test_df.loc[(test_df.PAY_5==-1) | (test_df.PAY_5==-2), 'PAY_5'] = 0
test_df.loc[(test_df.PAY_6==-1) | (test_df.PAY_6==-2), 'PAY_6'] = 0

Add New Column age Category

In [23]:
train_df['AgeCat'] = pd.cut(train_df['AGE'], 6, labels = [1,2,3,4,5,6])
train_df['AgeCat'] = pd.to_numeric(train_df['AgeCat'])
train_df.loc[(train_df['AgeCat'] == 6) , 'AgeCat'] = 5

test_df['AgeCat'] = pd.cut(test_df['AGE'], 6, labels = [1,2,3,4,5,6])
test_df['AgeCat'] = pd.to_numeric(test_df['AgeCat'])
test_df.loc[(test_df['AgeCat'] == 6) , 'AgeCat'] = 5

Sex and marriage, sex and age are two important factors that can influence hence, add both the rows

In [24]:
train_df['SE_MA'] = 0
train_df.loc[((train_df.SEX == 1) & (train_df.MARRIAGE == 1)) , 'SE_MA'] = 1 #married man
train_df.loc[((train_df.SEX == 1) & (train_df.MARRIAGE == 2)) , 'SE_MA'] = 2 #single man
train_df.loc[((train_df.SEX == 1) & (train_df.MARRIAGE == 3)) , 'SE_MA'] = 3 #divorced man
train_df.loc[((train_df.SEX == 2) & (train_df.MARRIAGE == 1)) , 'SE_MA'] = 4 #married woman
train_df.loc[((train_df.SEX == 2) & (train_df.MARRIAGE == 2)) , 'SE_MA'] = 5 #single woman
train_df.loc[((train_df.SEX == 2) & (train_df.MARRIAGE == 3)) , 'SE_MA'] = 6 #divorced woman

test_df['SE_MA'] = 0
test_df.loc[((test_df.SEX == 1) & (test_df.MARRIAGE == 1)) , 'SE_MA'] = 1 #married man
test_df.loc[((test_df.SEX == 1) & (test_df.MARRIAGE == 2)) , 'SE_MA'] = 2 #single man
test_df.loc[((test_df.SEX == 1) & (test_df.MARRIAGE == 3)) , 'SE_MA'] = 3 #divorced man
test_df.loc[((test_df.SEX == 2) & (test_df.MARRIAGE == 1)) , 'SE_MA'] = 4 #married woman
test_df.loc[((test_df.SEX == 2) & (test_df.MARRIAGE == 2)) , 'SE_MA'] = 5 #single woman
test_df.loc[((test_df.SEX == 2) & (test_df.MARRIAGE == 3)) , 'SE_MA'] = 6 #divorced woman

In [25]:
train_df['SE_AG'] = 0
train_df.loc[((train_df.SEX == 1) & (train_df.AgeCat == 1)) , 'SE_AG'] = 1 #man in 20's
train_df.loc[((train_df.SEX == 1) & (train_df.AgeCat == 2)) , 'SE_AG'] = 2 #man in 30's
train_df.loc[((train_df.SEX == 1) & (train_df.AgeCat == 3)) , 'SE_AG'] = 3 #man in 40's
train_df.loc[((train_df.SEX == 1) & (train_df.AgeCat == 4)) , 'SE_AG'] = 4 #man in 50's
train_df.loc[((train_df.SEX == 1) & (train_df.AgeCat == 5)) , 'SE_AG'] = 5 #man in 60's and above
train_df.loc[((train_df.SEX == 2) & (train_df.AgeCat == 1)) , 'SE_AG'] = 6 #woman in 20's
train_df.loc[((train_df.SEX == 2) & (train_df.AgeCat == 2)) , 'SE_AG'] = 7 #woman in 30's
train_df.loc[((train_df.SEX == 2) & (train_df.AgeCat == 3)) , 'SE_AG'] = 8 #woman in 40's
train_df.loc[((train_df.SEX == 2) & (train_df.AgeCat == 4)) , 'SE_AG'] = 9 #woman in 50's
train_df.loc[((train_df.SEX == 2) & (train_df.AgeCat == 5)) , 'SE_AG'] = 10 #woman in 60's and above

test_df['SE_AG'] = 0
test_df.loc[((test_df.SEX == 1) & (test_df.AgeCat == 1)) , 'SE_AG'] = 1 #man in 20's
test_df.loc[((test_df.SEX == 1) & (test_df.AgeCat == 2)) , 'SE_AG'] = 2 #man in 30's
test_df.loc[((test_df.SEX == 1) & (test_df.AgeCat == 3)) , 'SE_AG'] = 3 #man in 40's
test_df.loc[((test_df.SEX == 1) & (test_df.AgeCat == 4)) , 'SE_AG'] = 4 #man in 50's
test_df.loc[((test_df.SEX == 1) & (test_df.AgeCat == 5)) , 'SE_AG'] = 5 #man in 60's and above
test_df.loc[((test_df.SEX == 2) & (test_df.AgeCat == 1)) , 'SE_AG'] = 6 #woman in 20's
test_df.loc[((test_df.SEX == 2) & (test_df.AgeCat == 2)) , 'SE_AG'] = 7 #woman in 30's
test_df.loc[((test_df.SEX == 2) & (test_df.AgeCat == 3)) , 'SE_AG'] = 8 #woman in 40's
test_df.loc[((test_df.SEX == 2) & (test_df.AgeCat == 4)) , 'SE_AG'] = 9 #woman in 50's
test_df.loc[((test_df.SEX == 2) & (test_df.AgeCat == 5)) , 'SE_AG'] = 10 #woman in 60's and above

Since we have created two new categories bcaed on sex, we will drop column sex, and we will drop age and use agecat

In [26]:
#train_df = train_df.drop(['AGE'], axis=1)
#train_df = train_df.drop(['SEX'], axis=1)

#test_df = test_df.drop(['AGE'], axis=1)
#test_df = test_df.drop(['SEX'], axis=1)

In [27]:
features = ['LIMIT_BAL', 'EDUCATION', 'MARRIAGE', 'PAY_1', 'PAY_2', 'PAY_3',
       'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3',
       'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2',
       'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'AgeCat',
       'SE_MA', 'SE_AG']

In [28]:
X = train_df[features].copy()
Y = train_df['default_pay'].copy()
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.20, random_state=100)

In [29]:
random_forest = RandomForestClassifier(n_estimators=25)
random_forest.fit(X_train, Y_train)

Y_prediction = random_forest.predict_proba(X_test)

In [30]:
Y_f1 = Y_prediction[:,1] > 0.5
Y_f1 = Y_f1.astype(int)

In [31]:
Y_f1

array([0, 0, 0, ..., 0, 0, 0])

In [32]:
f1_score(Y_test, Y_f1)

0.4686746987951807

In [33]:
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train, Y_train)

Y_prediction = knn.predict_proba(X_test)

In [34]:
Y_f2 = Y_prediction[:,1] > 0.5
Y_f2 = Y_f2.astype(int)

In [35]:
f1_score(Y_test, Y_f2)

0.27764976958525345

In [36]:
logisticRegression = LogisticRegression()
logisticRegression.fit(X_train, Y_train)

Y_prediction = logisticRegression.predict_proba(X_test)

C:\Users\admin\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [37]:
Y_f3 = Y_prediction[:,1] > 0.5
Y_f3 = Y_f3.astype(int)

In [38]:
f1_score(Y_test, Y_f3)

0.0019230769230769232

In [39]:
clf = DecisionTreeClassifier()
clf.fit(X_train, Y_train)

Y_prediction = clf.predict_proba(X_test)

In [40]:
Y_f4 = Y_prediction[:,1] > 0.5
Y_f4 = Y_f4.astype(int)

In [41]:
f1_score(Y_test, Y_f4)

0.3916349809885932

In [42]:
gbclf = GradientBoostingClassifier()
gbclf.fit(X_train, Y_train)

Y_prediction = gbclf.predict_proba(X_test)

In [43]:
Y_f5 = Y_prediction[:,1] > 0.5
Y_f5 = Y_f5.astype(int)

In [44]:
f1_score(Y_test, Y_f5)

0.47565543071161054

In [45]:
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)


mlp = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(7, 2), random_state=1)
mlp.fit(X_train, Y_train)

Y_prediction = mlp.predict_proba(X_test)

C:\Users\admin\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.

In [46]:
Y_f6 = Y_prediction[:,1] > 0.5
Y_f6 = Y_f6.astype(int)

In [47]:
f1_score(Y_test, Y_f6)

0.48053527980535277

MLP has highest f1 score among others, second is boosting, third is random forest, followed by Decision tree, KNN, logistic regression

In [48]:
test_data = test_df.copy() 
test_data = scaler.transform(test_data[features])

C:\Users\admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.

In [49]:
prediction = mlp.predict_proba(test_data)

In [50]:
prediction

array([[0.68425972, 0.31574028],
       [0.8425544 , 0.1574456 ],
       [0.91175342, 0.08824658],
       ...,
       [0.7756179 , 0.2243821 ],
       [0.26794449, 0.73205551],
       [0.85415146, 0.14584854]])

In [51]:
test_df['default payment next month'] = prediction[:,1]

In [52]:
export_csv = test_df.to_csv (r'PrasanthParaselli_AI0051_assignment1_test.csv', index = None, header=True)

The final output is given in probability of becoming defaulter